<launch>
    <node pkg="tf" type="static_transform_publisher" name="hand_camera_tf" args="0.043766 -0.03739 0.039862 1.5404 0.013 1.5421 /panda_hand /panda_camera 100"/> 


    <node name="segment" pkg="pot_ground_segmentation" type="ground_segment.py" output="screen" />
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
</launch>

